### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

### CSharp ###
*.lock.json

### Build results ###
[Bb]in/
[Oo]bj/

### Node ###
# Logs
logs
*.log
npm-debug.log*

### Dependency directories ###
node_modules
jspm_packages

### Optional npm cache directory ###
.npm

### Aditional ###
wwwroot/dist/*
